* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  background-color: rgb(240, 236, 236);
    width: 100%;
  z-index: 10;
  height: 80px; 
  
}
navbar :hover{
    color: rgb(252, 252, 8);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(56, 55, 55);
  text-decoration: none; 
  font-size: 20px;
  display: flex;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #03befd;
}

.nav-button {
    padding: 10px 20px;
    background-color: rgb(96, 155, 96);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
.nav-button:hover {
    background-color: rgb(6, 99, 6);
}

.hero {
     margin-top: 70px;
  height: calc(100vh - 70px);
    
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
     background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.hero-content {
  text-align: center;

}
.hero-button1 {
    padding: 10px 20px;
    background-color: rgb(221, 221, 221);
    color: rgb(24, 141, 38);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    border-radius: 30px;
    position: relative;
}
.hero-button1:hover {
    background-color: aliceblue;
    transform: scale(1.05);
}

.hero-text1 {
    font-size: 80px;
    font-weight: bold;
    color: rgb(224, 220, 220);
   
}
.hero-text2 {
    font-size: 80px;
    font-weight: bold;
    color: #24b45b;
}

.hero-text1:hover {
  color: #ffeb3b;     
  transform: scale(1.05);
}

.hero-text2:hover {
  color: #00bcd4;
  transform: scale(1.05);
}
.hero-text3 {
    font-size: 24px;
    color: white;
    margin-top: 20px;
     max-width: 50%;    /* screen অনুযায়ী width adjust */
  margin: 0 auto;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.hero-button2 {
  padding: 10px 20px;
    background-color: #24b45b;
    color: rgb(222, 220, 220);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    gap: 4px;
}
.image-arrowright {
  height: auto;
  width: 16px;
  font-weight: bold;
  margin-left: 8px;
}
.hero-button2:hover {
    background-color: rgb(6, 99, 6);
    transform: scale(1.05);
}
.hero-button3 {
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(238, 231, 231);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}
.midea-logo{
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
   filter: brightness(0) invert(1);
   font-weight: bold;
}


.hero-button3:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}
.section2 {
  padding: 60px 20px;
  background-color: #f7f3f3;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.section2 p {
  max-width: 950px;
  margin: 0 auto;
  color: #555;
  font-weight: normal;
  font-size: 17px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px 0;
  align-items: center;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-logo {
   width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 15px;
  fill: crimson;
}
.card h3 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: #333;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}